{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "padded-blocks": [2, "never"],
    "comma-dangle": [2, "always-multiline"],
    "quote-props": [2, "as-needed"],
    "indent": [2, 2, {"VariableDeclarator": {"var": 2, "let": 2, "const": 3}}],
    "one-var": [2, { "var": "never", "let": "never", "const": "never" }],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
    "func-style": 2,
    "object-shorthand": 2,
    "no-new-object": 2,
    "prefer-const": 2,
    "no-var": 2,
    "no-array-constructor": 2,
    "no-useless-constructor": 2,
    "prefer-template": 2,
    "template-curly-spacing": 2,
    "no-useless-escape": 2,
    "no-loop-func": 2,
    "prefer-rest-params": 2,
    "no-new-func": 2,
    "no-param-reassign": 2,
    "prefer-spread": 2,
    "prefer-arrow-callback": 2,
    "arrow-spacing": 2,
    "arrow-parens": 2,
    "no-confusing-arrow": 2,
    "no-dupe-class-members": 2,
    "no-duplicate-imports": 2,
    "dot-notation": 2,
    "no-undef": 2,
    "eqeqeq": 2,
    "brace-style": 2,
    "space-before-blocks": 2,
    "keyword-spacing": 2,
    "space-infix-ops": 2,
    "eol-last": 2,
    "newline-per-chained-call": 2,
    "space-in-parens": 2,
    "array-bracket-spacing": 2,
    "object-curly-spacing": 2,
    "comma-style": 2,
    "semi": 2,
    "radix": 2,
    "id-length": 2,
    "camelcase": 2,
    "new-cap": 2,
    "no-underscore-dangle": 2,
    "jsx-quotes": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-no-undef" : 2,
    "react/react-in-jsx-scope": 2,
    "react/prefer-es6-class": 2,
    "react/prefer-stateless-function": 2,
    "react/jsx-pascal-case": 2,
    "react/jsx-closing-bracket-location": 2,
    "react/jsx-curly-spacing": 2,
    "react/jsx-boolean-value": 2,
    "react/no-string-refs": 2,
    "react/jsx-wrap-multilines": 2,
    "react/self-closing-comp": 2,
    "react/jsx-no-bind": [2, {"ignoreRefs": true, "allowArrowFunctions": true}],
    "react/sort-comp": 2,
    "react/require-render-return": 2,
    "react/jsx-handler-names": 2,
    "react/jsx-indent": [2, 2],
    "react/jsx-equals-spacing": 2,
    "react/jsx-no-comment-textnodes": 2,
    "react/jsx-no-duplicate-props": 2,
    "react/no-deprecated": 2,
    "react/no-multi-comp": 2,
    "react/no-unused-prop-types": 2
  },
  "plugins": [
    "react"
  ]
}
