@import '../../styles/colors.css';

.body {
  margin-bottom: 48px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.section {
  width: 50%;
  text-align: center;
}

.counter {
  font-size: 22px;
  margin-bottom: 5px;
}

.label {
  font-size: 14px;
}