.body {
  width: 25%;
  height: 70px;
  text-align: center;
  margin-bottom: 24px;
  border: 0;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.body:hover .owned {
  transform: scale(1.2, 1.2);
}

.quote {
  font-size: 14px;
}

.icon {
  opacity: 0.2;
  position: relative;
  transition: transform 0.2s ease-in-out;
  fill: white;
}

.owned {
  opacity: 1 !important;
  cursor: pointer;
}

.fresh {
  animation: glow 4s linear infinite;
}

@keyframes glow {
  0%, 100% {
    filter: drop-shadow(0 0 3px rgba(243, 230, 208, .1));
  }
  50% {
    filter: drop-shadow(0 0 7px rgba(243, 230, 208, .5));
  }
}