.body {
  text-align: center;
}

.icon {
  margin-bottom: 24px;
  opacity: 0;
  animation: appear .3s linear 250ms 1 forwards;
}

.title {
  margin-bottom: 12px;
  font-size: 18px;
}

.common {
  color: white;
}

.rare {
  color: var(--light-green);
}

.legendary {
  color: var(--blue);
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(1.2, 1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}